#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* custom */

.pizza {
  width: 50vw;
  background-color: #efecec;
}

.pizza h6 {
  border-bottom: 2px solid brown;
  border-top: 2px solid brown;
  width: 60px;
  padding: 2px 0;
  margin: auto;
  color: black;
  text-transform: uppercase;
}

.pizza h2 {
  color: coral;
  text-transform: uppercase;

}
